
  .navbar-custom {
    background-color:blue;/* Azul Bootstrap */
  }

  .navbar-custom .nav-link,
  .navbar-custom .navbar-brand {
    color: white;
  }

  .navbar-custom .nav-link:hover {
    color: #cfe2ff; /* Azul más claro al pasar el mouse */
  }

  .navbar-custom .navbar-toggler {
    border-color: white;
  }

  .navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

.carousel-item img {
    height: 300px;          
    object-fit: cover;     
    width: 100%;        
  }

  @media (min-width: 768px) {
  .carousel-item img {
    height: 600px;
  }
}

.third{
    background-color: blue;
    height: 250px;
}