*{
    margin: 0;
}

section{
    width: 100vw;
    height: 50vh;
}

#navegar{
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.number{
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nav{
    width: 20vw;
    display: flex;
    justify-content: space-around
}

a{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#nosotros{
    background-color: #FFC323;
    height: 45vh;
    display: flex;
    justify-content: center;
}

.card{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title1{
    font-size: 2.3rem;
    font-weight: 500;
    font-family: 'Segoe UI', 'Trebuchet MS', Verdana, sans-serif;
    padding: 15px;

}

.card>p{
    font-style: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: center;
    max-width: 600px;
    font-size: 16px;
    line-height: 1.5;
}

#principal{
    display: flex;
    justify-content: center;    
}

#imagen{
    background-image: url(https://ichef.bbci.co.uk/ace/ws/640/cpsprodpb/15665/production/_107435678_perro1.jpg.webp);
    background-position: center;
    width: 20vw;
    height: 30vh;
    border-radius: 50%;
}