
  .navbar-custom {
    background-color:#0a58ca;/* Azul Bootstrap */
  }

  .navbar-custom .nav-link,
  .navbar-custom .navbar-brand {
    color: white;
  }

  .navbar-custom .nav-link:hover {
    color: #cfe2ff; /* Azul más claro al pasar el mouse */
  }

  .navbar-custom .navbar-toggler {
    border-color: white;
  }

  .navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

.carousel-item img {
    height: 300px;          
    object-fit: cover;     
    width: 100%;        
  }

  @media (min-width: 768px) {
  .carousel-item img {
    height: 600px;
  }
}

.third {
  background-color: #0a58ca;
  min-height: 300px;
  padding: 20px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-content {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.third-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Logo */
.logo-sobre-nosotros {
  height: 100px;
  margin-top: auto;
}

/* Texto */
.sobre-nosotros-texto {
  color: white;
  font-size: 16px;
  padding: 0 1rem;
}

/* A partir de md, mostrar logo a la izquierda */
@media (min-width: 768px) {
  .third-flex {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .logo-sobre-nosotros {
    margin-top: 0;
    margin-right: 20px;
  }

  .sobre-nosotros-texto {
    font-size: 18px;
  }
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.img2{     
  object-fit: cover;        /* recorta si es necesario */
  object-position: top;     /* muestra parte superior de la imagen */ 
}

.img4{     
  object-fit: cover;        /* recorta si es necesario */
  object-position: right;     /* muestra parte superior de la imagen */ 
}



